<% if(theme.social){%>
    <div class="widget">
      <h3 class="title"><%= __('social') %></h3>
        <div class="content social">
            <ul>
                <% theme.social.forEach(function (item) {%>
                    <li>
                        <a href="<%- item.href%>" rel="external nofollow" title="<%- item.name%>" target="_blank">
                            <%- item.name%>
                        </a>
                    </li>
                <%})%>
            </ul>
        </div>
    </div>
<%}%>
