<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <span>Copyright &copy; <%= theme.since %> </span> |
        <span>
          <a href="/1979/01/01/自我介绍/" class="copyright-links">关于我</a>
        </span>
        |
        <span>
          <a
            href="//github.com/lxfriday"
            class="copyright-links"
            target="_blank"
            >Github</a
          >
        </span>
        |
        <span>
          <a
            href="http://www.beian.miit.gov.cn/"
            class="copyright-links"
            target="_blank"
            >网站备案号：鄂ICP备16007573号-3</a
          >
        </span>
      </div>
    </div>
  </div>
</div>

<%- partial('_partial/script') %>
